#!/usr/bin/make -f
%:
	dh $@ --buildsystem=cmake --parallel

export PATH := /usr/local/bin:$(PATH)
override_dh_auto_configure:
	debian/build-deps/build-gcc
	debian/build-deps/build-glog
	debian/build-deps/build-jemalloc
	debian/build-deps/build-boost
	dh_auto_configure -- \
	-Wno-dev \
  -DCMAKE_C_COMPILER=/usr/local/bin/gcc \
  -DCMAKE_CXX_COMPILER=/usr/local/bin/g++ \
  -DCMAKE_INCLUDE_PATH=/usr/local/include/ \
  -DCMAKE_LIBRARY_PATH=/usr/local/lib64/:/usr/local/lib/ \
	-DMYSQL_UNIX_SOCK_ADDR=/var/run/mysqld/mysqld.sock \
	-DCMAKE_BUILD_TYPE=RelWithDebInfo \
  -DSTATIC_CXX_LIB=On \
  -DBoost_USE_STATIC_LIBS=On \
  -DLIBGLOG_LIBRARY=/usr/local/lib/libglog.a \
  -DJEMALLOC_LIB=/usr/local/lib64/libjemalloc.a

override_dh_strip:
	dh_strip --dbg-package=hhvm-nightly-dbg
