Package: hhvm
Provides: hiphop-php, hhvm-fastcgi
Replaces: hiphop-php, hhvm-fastcgi
Conflicts: hiphop-php, hhvm-fastcgi
Version:
Section: web
Priority: optional
Architecture: amd64
Essential: no
Depends: binutils, libasn1-8-heimdal, libboost-filesystem1.49.0, libboost-program-options1.49.0, libboost-system1.49.0, libboost-regex1.49.0, libbz2-1.0, libc6, libcap2, libc-client2007e, libcomerr2, libelf1, libexpat1, libfontconfig1, libfreetype6, libgcc1, libgcrypt11, libgd2-xpm, libgnutls26, libgpg-error0, libgssapi3-heimdal, libgssapi-krb5-2, libhcrypto4-heimdal, libheimbase1-heimdal, libheimntlm0-heimdal, libhx509-5-heimdal, libicu48, libidn11, libjpeg-turbo8, libk5crypto3, libkeyutils1, libkrb5-26-heimdal, libkrb5-3, libkrb5support0, libldap-2.4-2, libmcrypt4, libmemcached6, libmysqlclient18, libonig2, libp11-kit0, libpam0g, libpcre3, libpng12-0, libroken18-heimdal, libsasl2-2, libsqlite3-0, libssl1.0.0, libstdc++6 (>= 4.8.1), libtasn1-3, libtbb2, libtinfo5, libwind0-heimdal, libx11-6, libxau6, libxcb1, libxdmcp6, libxml2, libxpm4, zlib1g, libedit2, libboost-thread1.49.0, libunwind7, libcurl3 (>= 7.22.0), libmagickwand4, libxslt1.1, libevent-2.0-5
Maintainer: Paul Tarjan <pt@fb.com>
Description: HHVM virtual machine, runtime, and JIT for the PHP language
