Package: hhvm
Version: 2.3.2
Section: web
Priority: optional
Architecture: amd64
Essential: no
Depends: binutils, libboost-filesystem1.55.0, libboost-program-options1.55.0, libboost-system1.55.0, libboost-regex1.55.0, libbz2-1.0, libc6, libcap2, libc-client2007e, libcomerr2, libelf1, libexpat1, libfontconfig1, libfreetype6, libgcc1, libgcrypt20, libgd3, libgnutls-deb0-28, libgpg-error0, libgssapi-krb5-2, libicu52, libidn11, libjpeg62-turbo, libk5crypto3, libkeyutils1, libkrb5-3, libkrb5support0, libldap-2.4-2, libmcrypt4, libmemcached11, libmemcachedutil2, libmysqlclient18, libonig2, libp11-kit0, libpam0g, libpcre3, libvpx1, libpng12-0, libsasl2-2, libsqlite3-0, libssl1.0.0, libstdc++6, libtasn1-6, libtbb2, libtinfo5, libunwind8, libx11-6, libxau6, libxcb1, libxdmcp6, libxml2, libxpm4, zlib1g, libedit2, libjemalloc1 (>= 3.0.0), libcurl3 (>= 7.26.0), libboost-thread1.55.0, libboost-context1.55.0, libmagickwand-6.q16-2, libxslt1.1, libevent-2.0-5, libgoogle-glog0, libzip2, libgmp10, libyaml-0-2, libpq5, libsnappy1, libnuma1, tzdata
Maintainer: HHVM OSS <hhvm-oss@fb.com>
Description: HHVM virtual machine, runtime, and JIT for the PHP language
